.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#decription{
  height: 120px;
  width: 200px;
  text-overflow: 'eclipse';
  overflow-y:hidden;
}
.remove{
  color: #fc7f11;
  border-color: transparent;
  background-color: transparent;
}
.order{
  background-color:  #fc7f11;
  color: white;
  border-color: aliceblue;
  border-radius: 10%;
}
#link{
  text-decoration: none;
}